extends layout

block content
  h1= title
  p(style="top:0px") Start of div
  if nr_days > 1
     p(style="positin:relative;top:300px") #{nr_days} days left until next Friday
  else if nr_days == 1
     p Tomorrow is Friday!
  else
     p IT'S FRIDAY!!!
  p(style="top:100%") End of div
