doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(style="background:#AAA;height:400px;left:50%;position:absolute;margin:50px")
        block content
